#!/bin/sh -e
#
# rc.local
#
# This script is executed at the end of each multiuser runlevel.
# Make sure that the script will "exit 0" on success or any other
# value on error.
#
# In order to enable or disable this script just change the execution
# bits.
#
# By default this script does nothing.
sleep 10

cd /home/cisco/acitoolkit/applications/endpointtracker
python aci-endpoint-tracker.py --kill
python aci-endpoint-tracker.py --daemon 

#sleep 2
#python aci-endpoint-tracker-gui.py --ip 0.0.0.0 --port 8808 &

sleep 2
cd /home/cisco/acitoolkit/applications/snapback
python snapback.py --ip 0.0.0.0 --port 8810 &

exit 0
